/*general*/
* {
    list-style: none;
}
body {}
/*variable use ->background-color: var(--main-color);*/
:root{
--main-color: #DEE3E9;
--header-color:#BBC3CE;
--accent-color: #CFB9AF;
--button-color: #985D5E;
--dark-color: #544B50;
}
/*site*/
body {
    color: var(--dark-color);
    display:flex;
    flex-direction: column;
}
header {
    background-color: var(--header-color);

}
    #logo {
        width: 150px;
        height: 150px;
        object-fit: cover;
        color: var(--dark-color);
    }
#site {
    display:flex;
    flex-flow: row;
}
    #navigation{
        background-color: var();
        color: var(--dark-color);
    }
    #content {}
        #static {}
            #slogan {}
        #scroll {}
footer {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-around;
}
    #socials {}
    #copyright {}
    #backToTop {}