
h1, h2{
    font-family: arsenal;
}

h2 {
    margin-bottom: 0.5em;
    text-align: center;
}

p {
    font-family: Mulish;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#page-title{
    margin-bottom: 1em;
    text-align: center;
}

/* Intro */
#intro-text{
    width: 75%;
    text-align: center;
    margin: auto;
}

/* <hr> design */

.hr-design {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.hr-design:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}



/* Brand list */
#brand-list{
    display:flex;
    width: 90%;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 5em;
    border-top: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    padding-top: 3vw;
    padding-bottom: 3vw;

}

.brand {
    width: 40%;
    text-align:center;
}

/* Products */

.wrap-single-product{
    display: flex;
    margin-bottom: 1em;
}

.product-container {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    width: 20%;
}

.product-container img{
    padding-top: 1em;
}

.product-description {
    width: 65%;
    margin: auto;
}

.price-list > li {
    list-style-type: disc;
    margin: 10px;
    font-style: italic;
}

.p-spacing {
    margin-top: 3em;
}

.y-spacing{
    margin-top: 0.5em;
}

.bla {
    margin-top: -1.5em;
}

/* Rent buttons */
.btn-price-pos{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 12%;
}

.btn {
    height: 3em;
    width: 20%;
    border: 0;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 500;
    color: #CFB9AF;
    cursor: pointer;
    transition: 0.3s linear;
    background-color: #985D5E;
    margin-top: 5%;
  }

  .btn:hover{
    opacity: .6;
  }

/*Remove Image background */
.bg-color {
    background-color: #DEE3E9 ;  
}

.bg-blend{
    mix-blend-mode: multiply;
    width: 15vw;
}

/* Resize image */

.resize{
    height: 50%;
    object-fit: contain;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
    #navigation{
        width: 100%;
    }

    #brand-list{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .bg-blend {
        width: 30vw;
        padding: 1em;
    }

    .wrap-single-product {
        flex-direction: column;
    }

    .product-container{
        width: 100%;
    }

    .product-container img{
        width: 40%;
    }

    .product-description{
        width: 100%;
    }
  }