/* Intro */
h1, h2{
    font-family: arsenal;
    text-align: center;
}

h2 {
    margin-bottom: 0.5em;
}

p {
    font-family: Mulish;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#intro-text{
    width: 75%;
    text-align: center;
    margin: auto;
}

#big-intro-text{
    width: 77%;
}

/* Brand list */
#brand-list{
    display:flex;
    width: 90%;
    margin-top: 2.5em;
    margin-bottom: 5em;
}

.brand {
    width: 40%;
    height: 7vh;
    text-align:center;
}

/* Product container */

.wrap-single-product{
    display: flex;
    margin-bottom: 1em;
}

.product-container {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    width: 20%;
}

.product-container img{
    padding-top: 1em;
}

.product-description {
    width: 65%;
    margin: auto;
}

.p-spacing {
    margin-top: 3em;
}

/* Rent buttons */
.btn {
    height: 3em;
    width: 20%;
    border: 0;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: 500;
    color: #CFB9AF;
    cursor: pointer;
    transition: 0.3s linear;
    background-color: #985D5E;
  }

  .btn:hover{
    opacity: .6;
  }

.button-positioning{
    display: flex;
    justify-content: end;
    margin: 2em;
}

/*Remove Image background */
.bg-color {
    background-color: #DEE3E9;  
}

.bg-blend{
    mix-blend-mode: multiply;
}



