/*variable use ->background-color: var(--main-color);*/
:root {
  --main-color: #DEE3E9;
  --header-color:#BBC3CE;
  --accent-color: #E6E6E6;
  --button-color: #985D5E;
  --text-color: #544B50;
  --font-logo: "Contrail One", cursive;
  --font-text: "Mulish", sans-serif;
  --font-headers: "Arsenal", sans-serif;
}

/*general*/
* {
  z-index: 2;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  font-family: var(--font-text);
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
  font-weight: 200;
}

/*site*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  z-index: 3;
  position: fixed;
  width: 100vw;
  height: 100px;
  background-color: var(--header-color);
  margin: auto 0px;
  display: flex;
  padding: 0px 50px;
  justify-content: space-between;
}

.logo, .logo > * {
  min-width: 15%;
  margin: auto 0px;
  text-shadow: 2px 2px 2px var(--accent-color);
  color: var(--button-color);
  font-family: var(--font-logo);
}

#site {
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  min-height: calc(100vh - 200px);
}

#navigation {
  background-color: var(--accent-color);
  width: 15%;
  justify-content: start;
  z-index: -1;
}
#navigation ul {
  padding-top: 10vh;
  height: 70vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
}

#content {
  background-color: var(--main-color);
  width: 85%;
}

#static {
  z-index: -1;
  height: 100vh;
  width: 85%;
  position: fixed;
  display: flex;
  flex-flow: row;
}
#static img {
  width: 50%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes slideshow {
  0% {
    content: url("./images/slideshow1.jpg");
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  12% {
    content: url("./images/slideshow2.jpg");
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  25% {
    content: url("./images/slideshow3.webp");
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  37% {
    content: url("./images/slideshow4.webp");
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  50% {
    content: url("./images/slideshow5.webp");
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  62% {
    content: url("./images/slideshow6.webp");
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  75% {
    content: url("./images/slideshow7.jpg");
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  87% {
    content: url("./images/slideshow8.jpg");
    opacity: 1;
  }
  93% {
    opacity: 0;
  }
  100% {
    content: url("./images/slideshow1.jpg");
    opacity: 1;
  }
}

@keyframes slideshow {
  0% {
    content: url("./images/slideshow1.jpg");
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  12% {
    content: url("./images/slideshow2.jpg");
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  25% {
    content: url("./images/slideshow3.webp");
    opacity: 1;
  }
  31% {
    opacity: 0;
  }
  37% {
    content: url("./images/slideshow4.webp");
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  50% {
    content: url("./images/slideshow5.webp");
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  62% {
    content: url("./images/slideshow6.webp");
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  75% {
    content: url("./images/slideshow7.jpg");
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  87% {
    content: url("./images/slideshow8.jpg");
    opacity: 1;
  }
  93% {
    opacity: 0;
  }
  100% {
    content: url("./images/slideshow1.jpg");
    opacity: 1;
  }
}
#slideshow {
  -webkit-animation: slideshow 50s linear infinite;
          animation: slideshow 50s linear infinite;
}

#slogan {
  width: 50%;
  position: relative;
  text-align: center;
  margin: auto 0px;
  text-shadow: 2px 2px 2px var(--accent-color);
  color: var(--button-color);
  font-family: var(--font-logo);
}

#scroll {
  background-color: var(--main-color);
  padding: 5%;
  min-height: 80vh;
  width: 100%;
}

#static ~ #scroll {
  background-color: transparent;
  width: 50%;
  padding: 0%;
  margin-top: 80vh;
  display: flex;
  flex-flow: column;
}

.person {
  background-color: var(--main-color);
  padding: 5%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border-top: 2px solid var(--button-color);
}

.profile {
  display: flex;
  flex-flow: column;
}
.profile h3 {
  align-self: center;
}

.profilepic {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.profilepic img {
  width: 100%;
}

footer {
  background-color: var(--header-color);
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
footer > * {
  margin: auto 0px;
  padding: 5px;
  text-shadow: 2px 2px 2px white;
  background-blend-mode: darken;
}

@media only screen and (max-width: 768px) {
  #site {
    flex-flow: column;
  }
  header {
    padding: 0px 5px;
    flex-flow: column;
    align-items: center;
  }
  header h2 {
    display: none;
  }
  #navigation {
    z-index: 3;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navigation > ul {
    padding-top: 0px;
    width: 100%;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  #navigation > ul li {
    padding: 10px 5px;
  }
  #content {
    width: 100%;
  }
  #static {
    margin-top: -100px;
    width: 100%;
  }
}
/*variable use ->background-color: var(--main-color);*/
:root {
  --main-color: #DEE3E9;
  --header-color:#BBC3CE;
  --accent-color: #E6E6E6;
  --button-color: #985D5E;
  --text-color: #544B50;
}

/*general*/
* {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

/*site*/
body {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  min-height: 100vh;
}

header {
  height: 100px;
  background-color: var(--header-color);
  margin: auto 0px;
  display: flex;
}

#logo, #logo > * {
  width: 20%;
  text-align: center;
  margin: auto 0px;
}

#site {
  display: flex;
  flex-flow: row;
  min-height: calc(100vh - 200px);
}

#navigation {
  background-color: var(--accent-color);
  width: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#navigation ul {
  height: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
}

#content {
  background-color: var(--main-color);
  width: 80%;
}

#static {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-flow: row;
}

#static img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#slogan {
  width: 50%;
  text-align: center;
  margin: auto 0px;
}

#scroll {
  min-height: 20vh;
  width: 100%;
}

footer {
  background-color: var(--header-color);
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

footer > * {
  margin: auto 0px;
}

/*# sourceMappingURL=style.css.map */
@media only screen and (max-width: 768px) {
  .product-row {
    margin: 10px;
  }
  .product-item {
    /* float: left; */
    margin: 5px;
    /*  width: 30%; */
  }
  .product-item img {
    width: 100%;
  }
  footer {
    clear: both;
  }
  .product-item h2 {
    margin-top: 10px;
  }
  .product-item p {
    padding-top: 5px;
  }
  h1 {
    margin-top: 5px;
  }
  .price {
    margin: 5px;
  }
  button {
    background-color: #985D5E;
    margin-top: 10px;
  }
  .button {
    height: 40px;
    width: 70px;
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #CFB9AF;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .button:hover {
    opacity: 0.6;
  }
}
@media only screen and (min-width: 769px) {
  html {
    box-sizing: border-box;
  }
  *,
*:before,
*:after {
    box-sizing: inherit;
  }
  .product-row {
    display: flex;
    overflow: hidden;
    margin: 10px;
  }
  .product-item {
    flex: 1;
    /*float: left; */
    flex-wrap: wrap;
    margin: 5px;
    width: 30%;
    max-height: 100%;
    position: relative;
  }
  .product-item img {
    width: 100%;
  }
  footer {
    clear: both;
  }
  .product-item h2 {
    margin-top: 10px;
  }
  .product-item p {
    padding-top: 5px;
  }
  .head {
    margin-top: 5px;
  }
  .price {
    margin: 5px;
  }
  button {
    background-color: #985D5E;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .button {
    height: 40px;
    width: 70px;
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #CFB9AF;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .button:hover {
    opacity: 0.6;
  }
  /*.holder{display: flex;
    align-items: end;
    justify-content: center;}
  } */
}/*# sourceMappingURL=VR.css.map */