.img{
    width:250px;
    height:250px;
}


#products{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
}
#products > *{
    width: 25%;
}
button{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.btn{
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color:#CFB9AF;
    transition: .3s  linear;
    cursor: pointer;
    background-color: #985D5E;
}



