#scroll {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-around;
  }

     /* Terms of use box */

  .rules-text ul li {
    list-style: disc;
    margin-left: 28px;
  }
  
  .rules-box{
    max-width: 460px;
    background-color: #DEE3E9;
    color:#985D5E;
    font-family: "Montserrat";
    padding: 60px 30px;
  }
  
  .rules-text{
    padding: 0 20px;
    height: 460px;
    overflow-y: auto;
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
    color: #000000;
  }
  
  .rules-text::-webkit-scrollbar{
    width: 2px;
    background-color: #985D5E ;
  }
  
  .rules-text::-webkit-scrollbar-thumb{
    background-color: #CFB9AF ;
  }

  .rules-text h2{
    text-transform: uppercase;
  }
  
  .rules-box h4{
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
  }
  
  .rules-box h4 span{
    color: #CFB9AF;
  }
  
     /* The button of the terms of use */

  .buttons{
    display: flex;
    padding: 0 19px;
    justify-content: space-between;
  }
  
  .btn{
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color:#CFB9AF;
    transition: .3s  linear;
    cursor: pointer;
  }
  
  .rosetaupe-btn{
    background-color: #985D5E;
  }
  
  .btn:hover{
    opacity: .6;
  }

      /* The carousel of FAQ */

      .FAQ{
        text-align: center;
        padding: 60px 30px;
        margin: 0 20px;
      }
  
  .carousel {
    position: relative;
  }
  
  .carousel__item {
    height: 300px;
    background: #BBC3CE ;
    padding: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    display: none;
  }
  
.carousel__item p {
  font-size: 20px;
}
  .carousel__item--selected {
    display: block;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
  }
  